* {
  margin: 0 auto;
}

#nav-list {
  list-style: none;
}

.nav-icons {
  width: 50px;
}

#presentation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 40px 0px 40px;
}

.title-all {
  padding: 4px 0px 4px;
}

#my-main-img {
  width: 250px;
}

#hard-skill-ul-container-1 {
  display: flex;
}

#hard-skill-ul-container-2 {
  display: flex;
}

#hard-skill-ul-container-3 {
    display: flex;
}

.hard-skills-li {
  list-style: none;
  font-size: 70px;
}

.projects-container img {
  width: 300px;
}

#contacts li {
  list-style: none;
}

.external-link {
  width: 60px;
}

footer {
  margin: 10px 0 10px;
  display: flex;
  justify-content: center;
}
