* {
  margin: 0 auto;
}

body {
  background: black;
}

main {
  margin-left: 25px;
  margin-right: 25px;
}

/* Add style to nav list: ---------------------------------------------------------------- */

#nav-header {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  bottom: 2.5rem;
}

#nav-list {
  display: flex;
  align-items: center;
  width: 160px;
  padding: 0;
  background: rgba(144, 144, 144, 0.5);
  border-radius: 24px;
  backdrop-filter: blur(5px); /* backdrop-filter: blur(5px);
  Font: https://developer.mozilla.org/pt-BR/docs/Web/CSS/backdrop-filter */
}

#nav-list li {
  list-style: none;
  padding: 8px;
  margin: 0;
}

#first-nav-icon {
  border-radius: 24px 0 0 24px;
}

#third-nav-icon {
  border-radius: 0 24px 24px 0;
}

#nav-list li:hover {
  background: rgba(155, 155, 155, 0.5);
  transition: background 0.5s;
}

#nav-list li:active {
  background: rgba(26, 26, 26, 0.5);
  transition: background 0.1s;
}

.nav-icons {
  width: 35px;
}
/* Finish adding style to navigation links. ---------------------------------------------------------------- */

#presentation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0px 25px;
}

.title-all {
  padding: 4px 0px 4px;
  color: rgb(0, 204, 255);
  font-family: poppins,sans-serif;
  font-weight: 700;
  font-style: italic;
}

#title {
  font-family: omnium,sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 45px;
  color: white;
  text-align: center;
}

#first-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@keyframes changes-shadow-color {
  0%  {box-shadow: 0px 0px 55px #A100C7; border: 2px solid #A100C7;}
  20% {box-shadow: 0px 0px 55px #00A1E6; border: 2px solid #00A1E6;}
  40% {box-shadow: 0px 0px 20px #9dff00; border: 2px solid #9dff00;}
  60% {box-shadow: 0px 0px 55px #E6B02E; border: 2px solid #E6B02E;}
  80% {box-shadow: 0px 0px 20px #DC0063; border: 2px solid #DC0063;}
  100% {box-shadow: 0px 0px 55px #A100C7; border: 2px solid #A100C7;}
}

#my-main-img {
  margin: none;
  width: 320px;
  border-radius: 30px;
  border: 2px solid rgb(82, 177, 255);
  animation: changes-shadow-color 10s cubic-bezier(.17,.67,.83,.67) infinite;
}
/* Animation; font: https://pt.stackoverflow.com/questions/113029/como-fazer-ao-fim-de-um-tempo-a-cor-de-uma-div-mudar/113056 */

#about-me-link {
  margin-bottom: 60px;
}

#contacts {
  width: 300px;
  margin-top: 160px;
}

#contacts h3 {
  text-align: center;
  margin-bottom: 10px;
}

#contacts-links {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  background: rgb(255, 255, 255);
  border-radius: 30px;
  padding: 30px;
  border: 7px solid rgb(255, 0, 76);
  box-shadow: 0px 0px 25px rgb(255, 0, 76);
}

.external-link {
  margin: 10px;
  border-radius: 15px;
  padding: 5px;
}
/* My Links: Add hover and active: ---------------------------------------------------------------------- */
#linkedin-icon:hover {
  box-shadow: 0px 0px 25px rgb(0, 76, 255);
}

#linkedin-icon:active {
  border: 4px solid rgb(0, 76, 255);
  padding: 2px;
}

#github-icon:hover {
  box-shadow: 0px 0px 25px black;
}

#github-icon:active {
  border: 4px solid black;
  padding: 2px;
}

#gmail-icon:hover {
  box-shadow: 0px 0px 25px rgb(255, 0, 0);
}

#gmail-icon:active {
  border: 4px solid rgb(255, 60, 0);
  padding: 2px;
}

#whatsapp-icon:hover {
  box-shadow: 0px 0px 25px rgb(0, 255, 0);
}

#whatsapp-icon:active {
  border: 4px solid rgb(0, 255, 0);
  padding: 2px; 
}

#trybe-icon:hover {
  box-shadow: 0px 0px 25px rgb(0, 255, 98);
}

#trybe-icon:active {
  border: 4px solid rgb(0, 255, 76);
  padding: 2px;
}

#telegram-icon:hover {
  box-shadow: 0px 0px 25px rgb(0, 119, 255);
}

#telegram-icon:active {
  border: 4px solid rgb(0, 204, 255);
  padding: 2px;
}
/* And adding hover and active. ---------------------------------------------------------------------- */

#contacts-links li {
  list-style: none;
}

#my-soft-skills {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  margin: 50px 0 50px;
  background: rgb(187, 38, 100);
  box-shadow: 0px 0px 30px rgb(221, 45, 118);
  border-radius: 30px;
}

#my-soft-skills ul {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.soft-skills-li {
  margin: 20px;
  text-align: center;
  color: white;
  list-style: none;
  font-size: 30px;
  font-family: rubrik-new,sans-serif;
  font-weight: 400;
  font-style: normal;
}

#experiences-container {
  margin-top: 35px;
  display: flex;
  background: rgb(176, 235, 110);
  box-shadow: 0px 0px 25px rgb(176, 235, 110);
  padding: 20px;
  border-radius: 25px;
}

.experiences-img {
  width: 50px;
}

#dev-time {
  display: flex;
  flex-direction: column;
}

#dev-time p {
  margin-top: 5px;
}

#numbers-of-projects {
  display: flex;
  flex-direction: column;
}

#numbers-of-projects p {
  margin-top: 5px;
}

#main-article {
  width: 750px;
}

#about-me p {
  color: white;
  text-align: center;
  font-size: 24px;
  margin: 0 30px 0px 30px;
  font-family: rubrik-new,sans-serif;
  font-weight: 400;
  font-style: normal;
}

#about-me {
  margin: 0 0 220px;
  display: flex;
  flex-direction: column;
}

#my-hard-skills-title {
  display: flex;
}

#my-hard-skills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 20px;
}

.hard-skills-containers {
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px;
}

.hard-skills-containers h4 {
  margin-bottom: 8px;
  margin-top: 10px;
  color: rgb(0, 247, 255);
  font-size: 30px;
  font-family: sisters-two,sans-serif;
  font-weight: 200;
  font-style: normal;
}

#hard-skill-ul-container-1 {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(221, 221, 221);
  border-radius: 30px;
  padding: 20px;
  justify-content: center;
  box-shadow: 0px 0px 25px rgb(179, 179, 179);
}

#hard-skill-ul-container-1 li {
  padding: 8px;
  border-radius: 12px;
  text-align: center;
  background-color: white;
}

#hard-skill-ul-container-2 {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(151, 24, 255);
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0px 0px 35px rgb(165, 55, 255);
}

#hard-skill-ul-container-3 {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(99, 146, 233);
  border-radius: 30px;
  padding: 20px;
  justify-content: center;
  box-shadow: 0px 0px 30px rgb(99, 146, 233);
}

#hard-skill-ul-container-3 li {
  text-align: center;
}

.hard-skills-li {
  list-style: none;
  font-size: 50px;
  margin: 20px;
}

.hard-skill-p {
  font-size: 45px;
}

.sub-title {
  font-size: 35px;
  color: white;
  font-family: co-headline,sans-serif;
  font-weight: 400;
  font-style: normal;
}

#my-projects-container {
  display: flex;
  margin-top: 30px;
}

#my-projects-container h2 {
  color: white;
}

#my-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background: rgb(58, 110, 221);
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
  border: 2px solid rgb(0, 174, 255);
  box-shadow: 0px 0px 25px rgb(58, 110, 221);
}

.projects-container h3 {
  margin-bottom: 10px;
  color: white;
  font-family: decoy,serif;
  font-weight: 300;
  font-style: normal;
}

.projects-container img {
  width: 400px;
  height: 250px;
  border-radius: 20px;
}

.projects-btn {
  padding: 0 10px 5px;
  border-radius: 10px;
  margin-top: 10px;
  background: rgb(64, 65, 66);
  border-bottom: 2px solid rgb(0, 174, 255);
  color: rgb(129, 215, 255);
  font-family: eurostile,sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 25px;
}

.projects-btn:hover {
  color: white;
}

.external-link {
  width: 60px;
}

footer {
  margin: 60px 0 10px;
  display: flex;
  justify-content: center;
  color: white;
}

#author {
  font-family: decoy, serif;
  font-style: normal;
  font-weight: 300;
}

/* Add responsiveness: */
@media only screen and (max-width: 1172px) {

  #secund-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #contacts {
    margin-top: 60px;
  }

  #secund-div {
    margin-bottom: 90px;
  }

  #about-me {
    margin: 0 0 120px;
  }
}

/* Continuação: */
/* #my-main-img {
    width: 320px;
    border-radius: 30px;
  } */

/* @media only screen and (max-width: 475px) {} */
