body {
    height: 1350px;
    margin: 0%;
    background-color: #D9FEFC;
}

#background-color-2 {
    position: absolute;
    background-color: #003A61;
    border-radius: 50px;
    top: 74px;
    left: 0.5%;
    width: 98.5%;
    height: 129%;
    display: block;
}

#minha-foto {
    position: absolute;
    display: block;
    width: 27%;
    border-radius: 40px;
    top: 83px;
    left: 1%;
    z-index: 3;
    border: 1px #00df95 solid;
    border-right: 3px #00df95 solid;
    border-bottom: 3px #00df95 solid;
    /*width: 27%;
    width: 450px*/
}

#minha-foto-bacground {
    position: absolute;
    display: block;
    width: 25%;
    border-radius: 40px;
    top: 83px;
    left: 1%;
    z-index: 0;
    background-color: #003A61;
    padding-bottom: 20%;
    padding-right: 73.45%;
    margin-left: -0.49%;
    /*width: 27%;
    width: 450px*/
}

#titulo {
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 40px;
    position: fixed;
    left: 30%;
    text-align: center;
    font-size: 2.5vw;
    border-radius: 40px;
    top: 0px;
    z-index: 4;
    background-color: #12A0FF;
    border-left: #4A497B 65px solid;
    color: white;
}

#seta-pra-cima {
    display: block;
    z-index: 4;
    position: fixed;
    top: 95%;
    width: 2.7em;
    left: 50%;
    background-color: rgb(0, 0, 90);
    border-radius: 10px;
    margin-bottom: 1%;
}

#seta-para-baixo {
    display: block;
    z-index: 4;
    position: fixed;
    top: -4px;
    width: 2.7em;
    left: 32.5%;
    background-color: rgb(0, 0, 90);
    border-radius: 10px;
    margin-top: 1%;
}

#article {
    position:absolute;
    display: block;
    top: 165px;
    left: 31.5%;
    width: 60%;
    z-index: 1;
    color: white;
    background-color: #003A61;
    border-radius: 30px;
    z-index: 0;
    padding: 7px;
    padding-right: 2%;
    padding-bottom: 3.5%;

    /* Talvez almentar o tamanho do padding de maneira específica pode resolver mais o problema do redimencionamento. */
}

#my-name {
    position: absolute;
    display: block;
    z-index: 3;
    top: 48vw;
    left: 3vw;
    color: rgb(135, 255, 101);
    background-color: rgb(0, 117, 196);
    border-radius: 15px;
    padding-left: 0.5%;
    padding-right:0.5%;
    height: 2.63vw;
    font-size: 1.85vw;
    z-index: 4;
    font-family: 'Orbitron', sans-serif;
    /* top: 90%;
       left: 5.9%; */
}

#about-me {
    font-family: 'Fredoka One', cursive;
    word-spacing: 8px;
       /*font (word-spacing) -> https://nosnaweb.wordpress.com/2017/02/25/como-dar-espaco-entre-palavras-com-css/*/
    position: absolute;
    text-align: center;
    left: 1%;
    top: -133px;
    font-size: 40px;
    border-left: 13px rgb(255, 255, 255) solid;
    border-radius: 8px;
    border-right: 10px #003A61 solid;
    padding-left: 0.6%;
    z-index: 1;
    color: white;
}

#saudação {
    position: absolute;
    left: 1%;
    top: -50px;
    font-size: 140%;
    font-family: 'Arvo', serif;
    z-index: 1;
    color: white;
}

#apresentation {
    display: block;
    font-family: 'Readex Pro', sans-serif;
    font-size: 25px;
    text-align: center;
    z-index: 1;
}

#my-skill {
    font-family: 'Bakbak One', cursive;
    font-size: 150%;
}

.li-impar {
    border: 2px #08E5DE solid;
    border-radius: 15px;
    height: -50%;
    margin: -0.5%;
    padding-left: 1%;
    padding-bottom: -10%;
    margin-bottom: 2%;
}

.links-principais {
    position: relative;
    display: inline-block;
    z-index: 3;
    top: 64.5vw;
    left: 2%;
    width: 5vw;
    background-color: rgb(0, 255, 119);
    border-radius: 20px;
    padding: 10px;
    border: #003A61 2px solid; 
    /*top: 970px;*/
}

#trybe-link {
    background-color: white;
    width: 4.4vw;
}

.more-size {
    font-size: 1.15em;
}

.destaques1 {
    color: #12A0FF;
}

.destaque1 {
    color: rgb(204, 51, 99);
}

.destaque2 {
    color: #30DF00;
}

#início-da-página {
    position: absolute;
    left: 50%;
}

#seta-pra-cima:hover {
    background-color: white;
}

#seta-pra-cima:active {
    background-color: #87FF65;
}

#seta-para-baixo:hover {
    background-color: white;
}

#seta-para-baixo:active {
    background-color:#87FF65;
}